h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-style:oblique;
}
legend
{
    text-align: center;
    color: rgba(255, 0, 0, 0.93);
}
label , h4 ,h3 {
    font-style: italic;
    text-transform: capitalize;
    word-spacing:  21px; ;
    letter-spacing: 1px;
    

}